.container{
    height: 500px;
    width: 1140px;
    background-color: rgb(22, 16, 16);
    margin: 0 auto;
}

.left-box{
    width: 40%;
    height: 200px;
    background-color: red;
    padding: 10px;
    margin: 25px;
    float: left;
    


}
.left-box img{
    width: 200px;
    height: 150px;
    
}
.right-box{
    width: 40%;
    height: 200px;    
    background-color: white;
    padding: 10px;
    margin: 25px;    
    float: left;

}